<div class="form-container">
	<h1>Marble Diagrams</h1>

	<form class="form" [formGroup]="form">
		<ng-container formArrayName="marbleInputList">
			@for (_ of form.controls.marbleInputList.controls; track $index; let isLast = $last) {
				<div class="form__input">
					<input type="text" [formControlName]="$index" (input)="drawDiagram()" />
					<button
						class="btn btn--danger"
						[class.btn--disabled]="!$index || !isLast"
						(click)="btnDiagramRemove($index)"
					>
						-
					</button>
				</div>
			}
		</ng-container>
		<div class="form__action">
			<label>
				Enable timer
				<input type="checkbox" formControlName="isTimerEnabled" />
			</label>
			<button class="btn btn--primary btn--fab" (click)="btnDiagramNew()">+</button>
		</div>
	</form>
</div>

@for (eventList of eventMatrix(); track $index) {
	<article [class.no-timer]="form.getRawValue().isTimerEnabled">
		@for (event of eventList; track i; let i = $index) {
			<div class="item">
				<div
					[ngClass]="getEventClass(event.type)"
					[style.background]="color.backGroundRadialDarken(event.color, isEvent(event.type))"
					[attr.time-type]="i + timeType()"
				>
					@if (isEventGroup(event.type)) {
						@for (subEvent of event.subEvents; track $index) {
							<div
								class="item--event"
								[attr.time-type]="i + timeType()"
								[style.background]="color.backGroundRadialDarken(subEvent.color)"
							>
								<span>{{ subEvent.label }}</span>
							</div>
						}
					}
					<span>{{ event.label }}</span>
				</div>
			</div>
		}
	</article>
}

<span>
	This project was designed to make Marble Diagrams easier to understand. Please note that some rules may not fully
	align with the official documentation.
</span>
