<h2>Marble Testing Visualizer</h2>

<input type="text" [(ngModel)]="marbleInput" (input)="drawDiagram(marbleInput)" placeholder="Enter Marble Diagram" />

<div class="container">
	@for (event of events(); track i; let i = $index) {
		<div class="item">
			<div
				[ngClass]="getEventClass(event.type)"
				[style.background]="colorService.backGroundRadialDarken(event.color, isEvent(event.type))"
				[attr.time-type]="i + timeType()"
			>
				@if (isEventGroup(event.type)) {
					@for (subEvent of event.subEvents; track $index) {
						<div
							class="item--event"
							[attr.time-type]="i + timeType()"
							[style.background]="colorService.backGroundRadialDarken(subEvent.color)"
						>
							<span>{{ subEvent.label }}</span>
						</div>
					}
				}
				<span>{{ event.label }}</span>
			</div>
		</div>
	}
</div>
