$color-gray: #404040;
$color-gray-light: lighten($color-gray, 30%);
$border: 2px solid $color-gray;
$container-height: 60px;
$container-height-arrow: calc($container-height - 20px);

:host {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;

	input {
		padding: 8px;
		margin-bottom: 10px;
		font-size: 16px;
	}

	.container {
		display: flex;
		position: relative;
		width: 100%;
		padding-top: $container-height;

		.item {
			display: flex;
			justify-content: center;
			position: relative;
			width: 100%;
			z-index: 2;

			@extend %timeLine;
			@extend %timeLineNumbers;
			@extend %itemInitAndFinalize;
			@extend %arrow;

			&--event {
				display: flex;
				position: static;
				justify-content: center;
				align-items: center;
				padding: 10px;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background-color: #aaaaaa;
				border: $border;
			}

			&--space {
				display: flex;
				height: 10px;
				justify-content: center;
			}

			&--complete {
			}

			&--complete-event {
			}

			&--error {
				display: flex;
				justify-content: center;
				color: red;
				font-size: 40px;
				font-weight: 100;
				margin-top: -3px;
			}

			&--group {
				display: flex;
				flex-direction: column;
				align-items: center;

				.item--event {
					&:not(:first-child) {
						margin-top: -5px;
					}
				}
			}
		}
	}

	%timeLine {
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: calc(-#{$container-height-arrow} + 10px);
			border-top: 1px solid $color-gray-light;
			height: 5px;
		}

		&::before {
			left: 0;
			right: 50%;
		}

		&::after {
			left: 50%;
			right: 0;
			border-left: 1px solid $color-gray-light;
		}

		&:first-child {
			&::before {
				border-color: transparent;
			}
		}
		&:last-child {
			&::after {
				border-top: none;
			}
		}
	}

	%itemInitAndFinalize {
		&:first-child {
			> * {
				&::before {
					content: '';
					position: absolute;
					border-left: $border;
					height: 26px;
					top: -6px;
					z-index: -1;
				}
			}
		}
		&:last-child {
			> .item--complete-event,
			> .item--complete {
				&::before {
					content: '';
					position: absolute;
					border-left: $border;
					height: 48px;
					top: -6px;
					z-index: -1;
				}
			}
		}
	}

	%timeLineNumbers {
		> * {
			&::after {
				content: attr(time-type);
				position: absolute;
				font-size: 10px;
				font-weight: 100;
				color: $color-gray-light;
				top: calc(-#{$container-height-arrow} + 17px);
			}
		}
	}

	%arrow {
		> * {
			span {
				display: flex;
				justify-content: center;

				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 18px;
					border-top: 2px solid $color-gray;
					height: 5px;
					z-index: -1;
				}

				&::before {
					left: 0;
					right: 50%;
				}

				&::after {
					left: 50%;
					right: 0;
				}
			}
		}
		&:last-child {
			> * {
				span {
					&::after {
						border-color: transparent;
					}
				}
			}
		}
		&:first-child {
			> * {
				span {
					&::before {
						border-color: transparent;
					}
				}
			}
		}
	}
}
